.upload {
    background-color: white;
    color: var(--theme-color) !important;
    padding: 0.5rem 1rem;
    border: 1px solid var(--theme-color);
    border-radius: 5px;
}

.upload:hover {
    color: white !important;
    background-color: var(--theme-color); /* Darker green on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow */
}
  
.upload:active {
    background-color: #3e8e41; /* Even darker green when pressed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Pressed shadow effect */
    transform: translateY(2px); /* Slight "pressed" movement */
}

