.grid-container-view {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
}

.grid-item-1-view {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-item-2-view {
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item-3-view {
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

